<script setup lang="ts">
import { ref } from "vue";
let newimg = ref("../../feeling_imgs/smile.png");
let newname = ref("Smile");

function clickbtn(id: number) {
  if (id == 0) {
    newimg.value = emojibtn.value[0].img;
    newname.value = emojibtn.value[0].name;
  }
  if (id == 1) {
    newimg.value = emojibtn.value[1].img;
    newname.value = emojibtn.value[1].name;
  }
  if (id == 2) {
    newimg.value = emojibtn.value[2].img;
    newname.value = emojibtn.value[2].name;
  }
  if (id == 3) {
    newimg.value = emojibtn.value[3].img;
    newname.value = emojibtn.value[3].name;
  }
  if (id == 4) {
    newimg.value = emojibtn.value[4].img;
    newname.value = emojibtn.value[4].name;
  }
  if (id == 5) {
    newimg.value = emojibtn.value[5].img;
    newname.value = emojibtn.value[5].name;
  }

  emojibtn.value[5].color = "";
}

const emojibtn = ref([
  {
    id: 0,
    name: "ANGRY",
    img: "../../feeling_imgs/angry.png",
    color: "",
  },
  {
    id: 1,
    name: "CUTE",
    img: "../../feeling_imgs/cute.png",
    color: "",
  },
  {
    id: 2,
    name: "EXICTED",
    img: "../../feeling_imgs/excited.png",
    color: "",
  },
  {
    id: 3,
    name: "PAIN",
    img: "../../feeling_imgs/pain.png",
    color: "",
  },
  {
    id: 4,
    name: "SHOCKED",
    img: "../../feeling_imgs/shocked.png",
    color: "",
  },
  {
    id: 5,
    name: "SMILE",
    img: "../../feeling_imgs/smile.png",
    color: "yellow",
  },
]);
</script>

<template>
  <v-container fluid class="pa-7">
    <v-row align="center">
      <v-col cols="12" sm="6">
        <div class="center">
          <v-img class="mt-5" :src="newimg"></v-img>
        </div>
      </v-col>
      <v-col cols="12" sm="6">
        <div class="text-center">
          <div class="my-2">
            <h1>{{ newname }}</h1>
          </div>
          <div v-for="item in emojibtn" :key="item.id">
            <v-btn
              class="widthbtn"
              @click="clickbtn(item.id)"
              :color="item.color"
              >{{ item.name }}</v-btn
            >
          </div>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped>
.widthbtn {
  width: 500px;
  height: 60px;
  margin: 9px;
}

.widthbtn:hover {
  background-color: yellow;
}
</style>
