<script setup lang="ts">
import FirstComponent from "@/components/FirstComponent.vue";
import SecondComponent from "@/components/SecondComponent.vue";
</script>

<template>
  <v-container fluid class="pa-7">
    <v-row>
      <v-col>
        <v-card-item>
          <div>
            <FirstComponent />
          </div>
        </v-card-item>
      </v-col>
      <v-col>
        <v-card-item>
          <div>
            <SecondComponent />
          </div>
        </v-card-item>
      </v-col>
    </v-row>
  </v-container>
</template>
