<script lang="ts" setup>
import { ref, computed } from "vue";
const num = ref(0);
let listnum: any = ref([0]);
const shownum = computed(() => {
  // eslint-disable-next-line vue/no-side-effects-in-computed-properties
  listnum.value = [];
  if (num.value === 0 || !num.value) {
    // eslint-disable-next-line vue/no-side-effects-in-computed-properties
    listnum.value = [];
    return listnum.value;
  }
  for (let i = 1; i <= num.value; i++) {
    // eslint-disable-next-line vue/no-side-effects-in-computed-properties
    listnum.value.push(i);
  }
  return listnum.value;
});
</script>

<template>
  <v-container>
    <v-form ref="form">
      <v-text-field
        label="Please input Number"
        :rules="[(v) => !!v || 'Number is not empty!!!']"
        required
        v-model="num"
      >
      </v-text-field>
    </v-form>
    <v-row>
      <v-col
        cols="12"
        md="1"
        class="md-1"
        v-for="item in shownum"
        :key="item"
        >{{ item }}</v-col
      >
    </v-row>
  </v-container>
</template>

<style scoped></style>
