<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const counterStore = useCounterStore();
</script>

<template>
  <div>First Component</div>
  <div>{{ counterStore.count }}</div>
  <v-btn class="mt-5" @click="counterStore.increment">INCREMENT</v-btn>
</template>

<style scoped></style>
